:root {
    --background-color: #FFFFFF;
    --primary-color: #8B5E3C;
    --text-color: #3b2f2f;
    --text-color2:#6b5743;
    --btn:#A56B43;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;

}

.banner-product {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-product::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}

.banner-content {
    text-align: center;
    color: #fff;
    z-index: 2;
}

.banner-content h2 {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner-content button {
    padding: 12px 26px;
    background: var(--primary-color);
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.banner-content button:hover {
    background: var(--btn);
}


#productSection {
    background: #FFFFFF;
    padding: 50px 0;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 90px;
}

#productSection .titleProduct {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #5b3a22;
    letter-spacing: 1px;
}

.product-list {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product-card {
    background: #fff;
    border-radius: 16px;
    padding: 12px;
    border: 1px solid #e0e0e0;
    text-align: center;
    position: relative;
    transition: 0.3s;
}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}
.product-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.sale-tag {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #ff5722;
    padding: 6px 14px;
    color: #fff;
    border-radius: 6px;
    font-size: 13px;
    font-weight: bold;
}

.product-name {
    margin: 12px 0 6px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
}

.rating {
    color: #ff9800;
    font-size: 14px;
    margin-bottom: 8px;
}

.price-block {
    margin-bottom: 12px;
}

.new-price {
    color: #e63946;
    font-size: 18px;
    font-weight: bold;
}

.old-price {
    color: #888;
    text-decoration: line-through;
    margin-left: 6px;
}

.buy-btn, .add-btn {
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-top: 6px;
}

.buy-btn {
    background: #000;
    color: #fff;
}

.add-btn {
    background: #f2f2f2;
    color: #444;
}

.filter-sidebar h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.filter-group {
    margin-bottom: 20px;
    text-align: left;
}

.filter-group h4 {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.filter-group label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    padding-left: 5px;
}
.filter-group input[type="checkbox"] {
    accent-color: #8B5E3C;
    margin-right: 8px;
    transform: scale(1.2);
}
.product-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 90%;
    margin: auto;
}
.footer {
    background: #F5F5F5;
    padding: 50px 0;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    min-width: 220px;
    margin-bottom: 20px;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.footer-col a,
.footer-col p {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    color: #333;
    text-decoration: none;
}

.footer-logo {
    width: 170px;
    margin: 10px 0 15px 0;
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.social-icons a{
    font-size: 20px;
    margin-right: 10px;

    color: #333;
    text-decoration: none;
}

.social-icons a:hover,
.footer-col a:hover {
    color: #8B5E3C;
}

.product-all{
    background: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 90px;
}

.product-all .titleProduct {
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
}

.products {
    justify-content: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
}
.product-card {
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
    padding-bottom: 25px;
    transition: transform 0.3s ease;
    border: 2px solid var(--primary-color);
    position: relative;


}

.product-card:hover {
    transform: translateY(-8px);
}

.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.product-card h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--text-color);
    margin: 18px 0 10px;
}


.rating {
    font-size: 16px;
    color: #e3b23c;
    margin-bottom: 5px;
}

.rating span {
    font-size: 13px;
    color: #5c4e4e;
}

.price {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 15px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


.badge {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #7B3F00;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 10px;

}
.set{
    padding: 20px;
}

.banner-product {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.banner-content {
    color: #fff;
    max-width: 800px;
    padding: 20px;
    text-align: center;

    position: relative;
    z-index: 10;
}

.banner-content h2 {
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: 300;
}

#scrollToProducts {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#scrollToProducts:hover {
    background-color: var(--btn);
}
.filter-sidebar {
    width: 200px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 8px;
    height: fit-content;
    left: 0px;
    flex-shrink: 0;

}

.filter-sidebar h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.filter-group {
    margin-bottom: 20px;
    text-align: left;
}

.filter-group h4 {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.filter-group label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    padding-left: 5px;
}
.filter-group input[type="checkbox"] {
    accent-color: #8B5E3C;
    margin-right: 8px;
    transform: scale(1.2);
}
.product-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 90%;
    margin: auto;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.social-icons a{
    font-size: 20px;
    margin-right: 10px;

    color: #333;
    text-decoration: none;
}

.social-icons a:hover,
.footer-col a:hover {
    color: #8B5E3C;
}

.product-all{
    background: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 90px;
}

.product-all .titleProduct {
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
}

.product {
    justify-content: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
}
.product-card {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
    padding-bottom: 25px;
    transition: transform 0.3s ease;
    border: 2px solid var(--primary-color);
    position: relative;


}

.product-card:hover {
    transform: translateY(-8px);
}

.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.product-card h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--text-color);
    margin: 18px 0 10px;
}


.rating {
    font-size: 16px;
    color: #e3b23c;
    margin-bottom: 5px;
}

.rating span {
    font-size: 13px;
    color: #5c4e4e;
}

.price {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 15px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.add-cart,
.buy-now {
    width: 80%;
    color: #fff;
    border: none;
    padding: 10px 0;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-cart {
    background-color: var(--primary-color);
}

.add-cart:hover {
    background-color: var(--btn);
}

.buy-now {
    background-color: var(--text-color);
}

.buy-now:hover {
    background-color: var(--text-color2);
}
.badge {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #7B3F00;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 10px;

}
.set{
    padding: 20px;
}
.product-card a.product-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.product-card .set {
    transition: transform 0.3s ease;
}

.product-card .set:hover {
    transform: translateY(-5px);
}
.pagination-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    gap: 12px;
    align-items: center;
}

.page-btn {
    min-width: 40px;
    height: 40px;
    padding: 0 14px;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    background: #fff;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}

.page-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.page-btn.active {
    background: var(--primary-color);
    color: #fff;
    cursor: default;
}

.page-btn:has(span) {
    pointer-events: none;
}
.sort-container {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sort-form label {
    margin-right: 10px;
    font-weight: 600;
}
.sort-form select {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}