:root {
    --background-color: #FFFFFF;
    --primary-color: #8B5E3C;
    --text-color: #3b2f2f;
    --text-color2:#6b5743;
    --btn:#A56B43;
}

.footer {
    background: #F5F5F5;
    padding: 50px 0;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    min-width: 220px;
    margin-bottom: 20px;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.footer-col a,
.footer-col p {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    color: #333;
    text-decoration: none;
}

.footer-logo {
    width: 170px;
    margin: 10px 0 15px 0;
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.social-icons a{
    font-size: 20px;
    margin-right: 10px;

    color: #333;
    text-decoration: none;
}

.social-icons a:hover,
.footer-col a:hover {
    color: #8B5E3C;
}